html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  font-family: "OpenSans";
  font-size: 16px;
  line-height: 1;
  margin-top: 90px; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "SourceSans";
  src: url("fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf"); }

@font-face {
  font-family: "SourceLight";
  src: url("fonts/Source_Sans_Pro/SourceSansPro-Light.ttf"); }

@font-face {
  font-family: "SourceSemiBold";
  src: url("fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf"); }

@font-face {
  font-family: "SourceBold";
  src: url("fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf"); }

@font-face {
  font-family: "SourceItalic";
  src: url("fonts/Source_Sans_Pro/SourceSansPro-Italic.ttf"); }

@font-face {
  font-family: "Quicksand";
  src: url("fonts/Quicksand/static/Quicksand-Regular.ttf"); }

@font-face {
  font-family: "QuickSemiBold";
  src: url("fonts/Quicksand/static/Quicksand-SemiBold.ttf"); }

body {
  font-family: "SourceSans";
  font-size: 16px; }

header {
  display: flex;
  align-items: center;
  z-index: 1000;
  width: 100%;
  position: fixed;
  height: 100px;
  padding-top: 2px; }

.btn {
  width: 160px;
  height: 50px;
  padding: 0;
  text-transform: uppercase;
  font-family: "SourceSemiBold";
  font-size: 14px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: 0.0004em;
  color: #ffffff;
  background-color: #008ed6; }

.p-text {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  text-transform: none;
  letter-spacing: normal;
  color: #999999; }

.btn-secondary {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2); }

.main-menu-container {
  display: flex;
  margin-top: -5px;
  min-width: 447px;
  margin-right: 2px;
  justify-content: space-between; }

.header-desktop {
  display: flex;
  width: 1174px;
  margin: 0 auto;
  justify-content: space-between; }

.main-menu .menu-link {
  font-family: "SourceSans";
  font-size: 16px;
  line-height: 58px;
  font-weight: 600;
  color: #fffefe;
  text-decoration: none; }

.features-container .col-sm-3 .row {
  display: flex;
  flex-direction: column;
  align-items: center; }

.features-img-container {
  width: 90px;
  height: 90px;
  border: 1px solid #e0e0e0;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center; }

.regular-title {
  font-size: 36px;
  font-weight: 600;
  text-transform: none;
  letter-spacing: normal;
  color: #1a1a1a;
  position: relative; }

h4.regular-title {
  font-size: 34px;
  text-transform: none;
  letter-spacing: 0.042em;
  color: #ffffff; }

.logo {
  display: flex;
  align-items: center;
  margin-left: 4px; }

.logo-subtext {
  margin-left: 7px;
  opacity: 0.3;
  margin-top: 1px; }

#home {
  margin-top: -90px;
  padding-top: 90px;
  background-image: url("../images/bg2.png");
  background-size: cover;
  min-height: 550px; }
  #home .container {
    height: 550px;
    overflow: hidden; }
  #home .p-text {
    margin-left: 1px;
    max-width: 490px;
    margin-top: 24px; }
  #home .buttons {
    margin-top: 61px; }
    #home .buttons .col-sm-3 {
      margin-left: 0;
      padding-left: 0;
      margin-right: 10px; }

.home-title {
  margin-left: 1px;
  margin-top: 5px;
  font-size: 48px;
  line-height: 48px;
  text-transform: none;
  letter-spacing: 0.014em;
  color: #ffffff;
  max-width: 500px; }

.blue-subtitle {
  font-family: "SourceBold";
  font-size: 14px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #008ed6; }

.details-item {
  font-size: 18px;
  line-height: 36px;
  font-weight: 400;
  text-transform: none;
  letter-spacing: normal;
  color: #1b1b1b; }
  .details-item div {
    text-align: center;
    height: 36px;
    display: inline-block;
    width: 16px;
    margin-right: 10px; }
    .details-item div img {
      margin: 0 auto; }

#testimonals {
  background-image: url("../images/testimonals_bg.png");
  background-size: cover;
  min-height: 809px; }

.container-testimonals {
  width: 100%;
  min-height: 810px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .container-testimonals .testimonals-header {
    margin-top: 45px; }
    .container-testimonals .testimonals-header .regular-title-center::after, .container-testimonals .testimonals-header .regular-title-center::before {
      bottom: -34px; }
  .container-testimonals .slider-container {
    width: 1200px;
    margin: 0 auto;
    margin-top: 120px; }
    .container-testimonals .slider-container .col-lg-6 {
      margin-left: 15px; }
      .container-testimonals .slider-container .col-lg-6 .slider-bottom {
        margin-top: 23px; }
        .container-testimonals .slider-container .col-lg-6 .slider-bottom .col-sm-2 {
          margin-left: -15px; }
        .container-testimonals .slider-container .col-lg-6 .slider-bottom .col-sm-5 {
          margin-left: -15px;
          margin-top: -5px; }
    .container-testimonals .slider-container .col-sm-5 {
      font-size: 16px;
      line-height: 42px;
      font-weight: 400;
      color: #ffffff; }
      .container-testimonals .slider-container .col-sm-5 .slider-role {
        font-family: "SourceSemiBold";
        line-height: 10px;
        font-size: 14px;
        letter-spacing: 0.019em; }
    .container-testimonals .slider-container .slick-dots {
      bottom: -164px;
      left: 5px; }
      .container-testimonals .slider-container .slick-dots li.slick-active button::before {
        font-size: 17px;
        color: #fff;
        opacity: 1;
        border: none;
        position: relative;
        top: 2px;
        left: -8px; }
      .container-testimonals .slider-container .slick-dots li button::before {
        color: transparent;
        border: 2px solid rgba(255, 255, 255, 0.2);
        border-radius: 100px;
        width: 8px;
        height: 8px; }
  .container-testimonals .testimonals-links {
    display: flex;
    align-items: center;
    font-size: 34px;
    line-height: 48px;
    font-family: "SourceLight";
    color: #ffffff;
    font-weight: 300;
    background-color: #15141a;
    height: 170px;
    width: 100%;
    margin-top: auto; }
    .container-testimonals .testimonals-links h3 {
      margin-left: 4px;
      letter-spacing: 0.023em; }
    .container-testimonals .testimonals-links b {
      letter-spacing: 0.06em;
      font-weight: 600; }
    .container-testimonals .testimonals-links .testimonals-links-container {
      width: 1200px;
      margin: auto;
      padding: 0 10px;
      padding-right: 0; }
      .container-testimonals .testimonals-links .testimonals-links-container .col-sm-8 {
        margin-right: 36px; }
      .container-testimonals .testimonals-links .testimonals-links-container .col-sm-2 {
        width: min-content;
        padding: 0;
        margin-left: 20px;
        margin-bottom: 2px; }

.slider-text {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  color: #ffffff;
  font-family: "SourceItalic";
  max-width: 550px; }

.pricing-item {
  height: 490px;
  width: 272px;
  border: 1px solid #e0e0e0; }
  .pricing-item h3 {
    margin-top: 5px;
    font-size: 24px;
    line-height: 64px;
    font-weight: 700;
    text-transform: uppercase;
    color: #1a1a1a;
    letter-spacing: 0.025em; }
  .pricing-item .price {
    border-top: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 150px;
    font-size: 55px;
    line-height: 20px;
    font-weight: 600;
    color: #1a1a1a; }
    .pricing-item .price div {
      margin-top: 15px;
      margin-left: -9px;
      letter-spacing: 0.05em; }
    .pricing-item .price span {
      position: relative;
      top: -18px;
      left: 1px;
      font-size: 28px; }
    .pricing-item .price p {
      position: relative;
      top: 8px;
      font-size: 18px;
      line-height: 28px;
      font-weight: 400;
      color: #999999; }
  .pricing-item .pricing-text {
    margin: 0 auto;
    position: relative;
    top: 47px;
    width: 200px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #999999; }
    .pricing-item .pricing-text span {
      color: #008ed6; }
  .pricing-item .btn-order {
    margin-top: 88px;
    border: 1px solid #e0e0e0;
    background-color: white;
    color: #008ed6; }

.pricing-item:hover h3 {
  color: #008ed6;
  transition-property: all;
  transition-duration: .5s; }

.pricing-item:hover .price {
  color: #fff;
  background-color: #008ed6;
  transition-property: all;
  transition-duration: .5s; }
  .pricing-item:hover .price p {
    color: #fff;
    transition-property: all;
    transition-duration: .5s; }

.pricing-item:hover .btn-order {
  border: none;
  background-color: #008ed6;
  color: #fff;
  transition-property: all;
  transition-duration: .5s; }

#contact {
  height: 722px;
  background-color: #ededed; }
  #contact .col-sm-4 {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #contact .col-sm-4 .image-container {
      width: 32px;
      height: 32px; }
      #contact .col-sm-4 .image-container img {
        margin: 0 auto; }
    #contact .col-sm-4 p {
      width: 190px; }

.form-container {
  width: 770px;
  height: 360px;
  margin: 0 auto;
  position: relative;
  margin-top: 69px;
  z-index: 2;
  background-color: #15141a; }
  .form-container form {
    padding: 55px 84px 0 66px;
    display: flex;
    flex-direction: column; }
    .form-container form input {
      width: 300px;
      padding-left: 18px;
      margin-bottom: 20px;
      height: 50px;
      color: white;
      background-color: rgba(0, 142, 214, 0);
      border: 1px solid rgba(255, 255, 255, 0.2);
      outline: none; }
    .form-container form input::placeholder {
      opacity: 0.2;
      font-size: 14px;
      line-height: 48px;
      font-weight: 700;
      text-transform: uppercase;
      color: #ffffff; }
    .form-container form textarea {
      padding-top: 16px;
      padding-left: 18px;
      width: 300px;
      margin: 4px 0;
      margin-bottom: 21px;
      height: 190px;
      background-color: rgba(0, 142, 214, 0);
      border: 1px solid rgba(255, 255, 255, 0.2);
      resize: none;
      outline: none; }
    .form-container form textarea::placeholder {
      font-family: "SourceSemiBold";
      opacity: 0.2;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      color: #ffffff; }
    .form-container form .input-container {
      display: flex;
      flex-direction: column;
      margin-right: 19px; }
    .form-container form .input-container:first-child {
      margin-top: 4px; }
    .form-container form .text-container {
      display: flex; }
    .form-container form .submit {
      align-self: flex-end;
      margin-right: 1px; }

footer {
  width: 100%;
  background-color: #15141a;
  z-index: -1; }
  footer .container {
    display: flex;
    flex-direction: column;
    height: 160px; }
    footer .container .social-links {
      margin: 0 auto;
      margin-top: 50px;
      margin-bottom: 35px;
      display: flex; }
      footer .container .social-links .social-links-item a {
        margin: 0 16px;
        color: white;
        opacity: 0.2;
        transition-property: color;
        transition-duration: 0.5s; }
      footer .container .social-links .social-links-item a:hover {
        color: #008ed6;
        opacity: 1;
        transition-property: color;
        transition-duration: 0.5s; }
    footer .container p {
      font-size: 14px;
      line-height: 48px;
      font-weight: 600;
      text-transform: uppercase;
      color: #444348;
      margin: 0 auto; }

.google-map {
  width: 100%;
  height: 370px; }

.menu-link::after, .menu-link::before {
  visibility: hidden;
  position: absolute;
  content: '';
  bottom: 9px;
  width: 20px;
  height: 2px;
  background-color: #008ed6;
  margin: 0 1px; }

.active::after, .active::before {
  visibility: visible; }

.menu-link:hover::after, .menu-link:hover::before {
  visibility: visible; }

.menu-link::after {
  left: 50%; }

.menu-link::before {
  right: 50%; }

.main-menu-item {
  position: relative; }

.regular-title-center::after, .regular-title-center::before {
  position: absolute;
  content: '';
  bottom: -39px;
  width: 20px;
  height: 2px;
  background-color: #008ed6;
  margin: 0 1px; }

.regular-title-center::after {
  left: 50%; }

.regular-title-center::before {
  right: 50%; }

.regular-title-left::after, .regular-title-left::before {
  position: absolute;
  content: '';
  bottom: -29px;
  width: 20px;
  height: 2px;
  background-color: #008ed6;
  margin: 0 1px; }

.regular-title-left::after {
  right: calc(100% - 42px); }

.regular-title-left::before {
  left: -2px; }

#features {
  min-height: 529px;
  border-bottom: solid 1px #ededed;
  margin-bottom: 40px; }

.home-image {
  margin-top: 31px;
  margin-left: -19px; }

.home-text {
  margin-top: 53px; }

.features-main-container {
  margin-top: 45px;
  width: 1231px; }
  .features-main-container .blue-subtitle {
    line-height: 50px; }
  .features-main-container .regular-title {
    font-size: 34px;
    letter-spacing: 0.04em; }
  .features-main-container .features-container {
    margin: 0 auto;
    margin-top: 110px; }
    .features-main-container .features-container h4 {
      margin-top: 35px;
      font-size: 24px;
      line-height: 20px;
      font-weight: 400;
      color: #1a1a1a; }
    .features-main-container .features-container .p-text {
      margin-top: 15px;
      width: 250px; }

.about {
  padding-top: 60px; }

.about-upper {
  min-height: 667px; }
  .about-upper .right .row {
    margin-left: 0px; }
    .about-upper .right .row .regular-title {
      font-size: 34px;
      letter-spacing: 0.038em; }
    .about-upper .right .row .p-text {
      max-width: 470px;
      margin-top: 57px;
      letter-spacing: 0.001em; }
  .about-upper .about-image {
    margin-top: -34px;
    margin-left: -10px; }
  .about-upper .about-details {
    margin-top: 25px;
    margin-left: 0; }
    .about-upper .about-details div {
      margin-bottom: -2px; }
  .about-upper .regular-title::after, .about-upper .regular-title::before {
    bottom: -32px; }

.about-bottom {
  background-color: #f2f2f2;
  min-height: 543px; }
  .about-bottom .col-lg-5 {
    margin-top: 52px;
    margin-left: -15px; }
  .about-bottom .regular-title {
    font-size: 34px;
    letter-spacing: 0.0404em; }
  .about-bottom .regular-title::after, .about-bottom .regular-title::before {
    bottom: -32px; }
  .about-bottom .p-text {
    margin-top: 56px; }
  .about-bottom .about-image {
    margin-top: -27px;
    margin-left: -19px; }

#pricing {
  min-height: 739px; }
  #pricing .container {
    margin-top: 41px; }
  #pricing .regular-title-center {
    font-size: 34px;
    letter-spacing: 0.035em; }
  #pricing .regular-title-center::after, #pricing .regular-title-center::before {
    bottom: -35px; }

.pricelist {
  margin-top: 105px;
  display: flex;
  justify-content: space-between; }
  .pricelist .col-sm-3 {
    margin-left: 28px; }
  .pricelist .col-sm-3:first-of-type {
    margin-left: 0; }

#contact {
  min-height: 720px; }
  #contact .contact-header {
    margin-top: 40px; }
    #contact .contact-header .regular-title-center::after, #contact .contact-header .regular-title-center::before {
      bottom: -32px; }
  #contact .contact-data {
    margin: 0 auto;
    width: 979px;
    margin-top: 90px;
    display: flex;
    justify-content: space-between; }
    #contact .contact-data .col-sm-3 {
      padding: 0;
      max-width: 180px; }
      #contact .contact-data .col-sm-3 p, #contact .contact-data .col-sm-3 a {
        color: #999;
        margin-top: 25px;
        font-size: 18px;
        line-height: 26px; }
      #contact .contact-data .col-sm-3 a {
        line-height: 45px; }
