html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	font-family: "OpenSans";
	font-size: 16px;
	line-height: 1;
	margin-top: 90px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
	font-family: "SourceSans";
	src: url("fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf");
}
@font-face {
	font-family: "SourceLight";
	src: url("fonts/Source_Sans_Pro/SourceSansPro-Light.ttf");
}
@font-face {
	font-family: "SourceSemiBold";
	src: url("fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf");
}
@font-face {
	font-family: "SourceBold";
	src: url("fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf");
}

@font-face {
	font-family: "SourceItalic";
	src: url("fonts/Source_Sans_Pro/SourceSansPro-Italic.ttf");
}

@font-face {
	font-family: "Quicksand";
	src: url("fonts/Quicksand/static/Quicksand-Regular.ttf");
}

@font-face {
	font-family: "QuickSemiBold";
	src: url("fonts/Quicksand/static/Quicksand-SemiBold.ttf");
}


body {
	font-family: "SourceSans";
	font-size: 16px;
}
header {
	display: flex;
	align-items: center;
	z-index: 1000;
	width: 100%;
	position: fixed;
	height: 100px;
	padding-top: 2px;
}
.btn {
	width: 160px;
	height: 50px;
	padding: 0;
	outline: none;
	text-transform: uppercase;
	font-family: "SourceSemiBold";
	font-size: 14px;
	line-height: 48px;
	font-weight: 700;
	letter-spacing: 0.0004em;
	color: #ffffff;
	background-color: #008ed6;
}
.p-text {
	font-size: 18px;
	line-height: 26px;
	font-weight: 400;
	text-transform: none;
	letter-spacing: normal;
	color: #999999;
}

.btn-secondary {
	background-color: transparent;
	border: 1px solid rgba(255,255,255,0.2);
}
.main-menu-container {
	display: flex;
	margin-top: -5px;
	// margin-right: -10px;
	min-width: 447px;
	margin-right: 2px;
	justify-content: space-between;
}
.header-desktop {
	display: flex;
	width: 1174px;
	margin: 0 auto;
	justify-content: space-between;
}

.main-menu {
	.menu-link {
		font-family: "SourceSans";
		font-size: 15px;
		letter-spacing: 0.045em;
		line-height: 58px;
		font-weight: 600;
		color: #fffefe;
		text-decoration: none;
		// padding: 0 12px;
	}
	
}
.features-container .col-sm-3 .row {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.features-img-container {
	width: 90px;
	height: 90px;
	border: 1px solid #e0e0e0;
	border-radius: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.regular-title {
	font-size: 36px;
	font-weight: 600;
	text-transform: none;
	letter-spacing: normal;
	color: #1a1a1a;
	position: relative;
}
h4.regular-title {
	font-size: 34px;
	// font-weight: 600;
	text-transform: none;
	letter-spacing: 0.04em;
	color: #ffffff;
}
.logo {
	display: flex;
	align-items: center;
	margin-left: 4px;
}

.logo-subtext {
	margin-left: 7px;
	opacity: 0.3;
	margin-top: 1px;

	
}
#home {
	.container {
		height: 550px;
		overflow: hidden;
	}
	img {
		// margin-top: 31px;
		// margin-left: 77px;
	}
	margin-top: -90px;
	padding-top: 90px;
	background-image: url("../images/bg2.png");
	background-size: cover;
	min-height: 550px;
	.p-text {
		margin-left: 1px;
		max-width: 490px;
		margin-top: 22px;
	}
	.buttons {
		margin-top: 60px;
		.col-sm-3 {
			margin-left: 0;
			padding-left: 0;
			margin-right: 10px;
		}
	}
}

.home-title {
	margin-left:1px;
	margin-top: 5px;
	font-size: 44px;
	line-height: 49px;
	font-weight: 600;
	text-transform: none;
	letter-spacing: 0.052em;
	color: #ffffff;
	max-width: 500px;
}
.blue-subtitle {
	font-family: "SourceBold";
	font-size: 14px;
	line-height: 48px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: #008ed6;
}
.details-item {
	font-size: 18px;
	line-height: 36px;
	font-weight: 400;
	text-transform: none;
	letter-spacing: normal;
	color: #1b1b1b;
	div {
		text-align: center;
		height: 36px;
		display: inline-block;
		width: 16px;
		margin-right: 10px;
		img {
			margin: 0 auto;
		}
	}
	
	
}
#testimonals {
	background-image: url("../images/testimonals_bg.png");
	background-size: cover;
	min-height: 809px;
}

.container-testimonals {
	padding: 0;
	.testimonals-header {
		.regular-title-center::after, .regular-title-center::before {
			bottom: -34px;
		}
		margin-top: 45px;
	}
	.slider-container {
		width: 1200px;
		// padding-left: 30px;
		margin: 0 auto;
		margin-top: 120px;
		.col-lg-6 {
			margin-left: 15px;
			.slider-bottom {
				.col-sm-2 {
					margin-left: -15px;
				}
				.col-sm-5 {
					margin-left: -15px;
					margin-top: -5px;
				}
				margin-top: 23px;
			}
		}
		.col-sm-5 {
			font-size: 16px;
			line-height: 42px;
			font-weight: 400;
			color: #ffffff;
			.slider-role {
				font-family: "SourceSemiBold";
				line-height: 15px;
				font-size: 14px;
				letter-spacing: 0.013em;
				margin-left: 1px;
			}
		}
		.slick-dots {
			bottom: -164px;
			left: 5px;
			li.slick-active {
				button::before {
					font-size: 17px;
					color: #fff;
					opacity: 1;
					border:none;
					position: relative;
					top: 2px;
					left: -8px;
				}
			}
			li {
				button::before {
					color: transparent;
					border: 2px solid rgba(255,255,255,0.2);
					border-radius: 100px;
					width: 8px;
					height: 8px;
					
				}
			}
		}
	}
	width: 100%;
	min-height: 810px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	.testimonals-links {
		display: flex;
		align-items: center;
		font-size: 35px;
		line-height: 48px;
		
		font-family: "SourceLight";
		h3{
			line-height: 50px;
			margin-left: 4px;
			letter-spacing: 0.0122em;
		}
		b {
			letter-spacing: 0.045em;
			font-weight: 600;
			margin-right: -2px;
		}
		color: #ffffff;
		font-weight: 300;
		background-color: #15141a;
		height: 170px;
		width: 100%;
		margin-top: auto;
		.testimonals-links-container {
			width: 1202px;
			margin:  auto;
			padding: 0 10px;
			padding-right: 0;
			.col-sm-8 {
				margin-left: 2px;
				margin-right: 20px;
				padding-left: 0;
			}
			.col-sm-2 {
				width: min-content;
				padding: 0;
				margin-left: 20px;
				margin-bottom: 2px;
			}
		}
	}
}
.slider-text {
	font-size: 24px;
	line-height: 32px;
	font-weight: 400;
	color: #ffffff;
	font-family: "SourceItalic";
	max-width: 550px;
}
.slider-name {
	margin-left: 1px;
	line-height: 40px;
	letter-spacing: 0.005em;
}
.pricing-item {
	height: 490px;
	width: 272px;
	border: 1px solid #e0e0e0;
	h3 {
		margin-top: 5px;
		font-size: 24px;
		line-height: 64px;
		font-weight: 700;
		text-transform: uppercase;
		color: #1a1a1a;
		letter-spacing: 0.025em;
	}
	.price {

		border-top: 1px solid #e0e0e0;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		height: 150px;
		font-size: 55px;
		line-height: 20px;
		font-weight: 600;
		color: #1a1a1a;
		div {
			margin-top: 15px;
			margin-left: -9px;
			letter-spacing: 0.1em;
		}
		span {
			position: relative;
			top: -18px;
			left:5px;
			font-size: 28px;
		}
		p {
			position: relative;
			top: 8px;
			font-size: 18px;
			line-height: 28px;
			font-weight: 400;
			color: #999999;
		}
	}
	.pricing-text {
		margin: 0 auto;
		position: relative;
		top: 47px;
		width: 200px;
		font-size: 18px;
		line-height: 26px;
		font-weight: 400;
		color: #999999;
		span {
			color: #008ed6;
		}
	}
	.btn-order {
		margin-top: 88px;
		border: 1px solid #e0e0e0;
		background-color: white;
		color: #008ed6;
	}
}

.pricing-item:hover{
	h3 {
		color: #008ed6;
		transition-property: all;
		transition-duration: .5s;
	}
	.price {
		color: #fff;
		p {
			color: #fff;
			transition-property: all;
			transition-duration: .5s;
		}
		background-color: #008ed6;
		transition-property: all;
		transition-duration: .5s;
	}
	.btn-order {
		border: none;
		background-color: #008ed6;
		color: #fff;
		transition-property: all;
		transition-duration: .5s;
	}
	
}

#contact {
	height: 717px;
	.contact-header {
		margin-top: 40px;
		.regular-title-center::after, .regular-title-center::before {
			bottom: -32px;
		}
		.regular-title-center {
			letter-spacing: 0.02em;
		}
	}
	.contact-data {
		margin: 0 auto;
		width: 979px;
		.col-sm-3 {
			padding: 0;
			max-width: 180px;
			p, a {
				color: #999;
				margin-top: 24px;
				font-size: 18px;
				line-height: 26px;
			}
			a {
				line-height: 45px;
			}
		}
		margin-top: 92px;
		display: flex;
		justify-content: space-between;
	}
	.col-sm-3:first-of-type {
		.contact-text {
			margin-left: -4px;
			
		}
	}
	.col-sm-3:last-of-type {
		.contact-text {
			margin-left: -3px;
			margin-top: 21px;
		}
		.image-container {
			height: 22px;
			margin: 5px 0;
		}
	}
	background-color: #ededed;
}

.form-container {
	width: 770px;
	height: 360px;
	margin: 0 auto;
	position: relative;
	margin-top: 69px;
	z-index: 2;
	background-color: #15141a;;
	form {
		padding: 55px 84px 0 66px; 
		display: flex;
		flex-direction: column;
		input {
			width: 300px;
			padding-left: 16px;
			margin-bottom: 20px;
			height: 50px;
			color:white;
			background-color: rgba(0,142,214,0.0);
			border: 1px solid rgba(255,255,255,0.2);
			outline: none;
		}
		input::placeholder{
			opacity: 0.2;
			font-size: 14px;
			line-height: 48px;
			font-weight: 700;
			letter-spacing: 0.025em;
			text-transform: uppercase;
			color: #ffffff;
		}
		textarea {
			padding-top: 16px;
			padding-left: 18px;
			width: 300px;
			margin: 4px 0;

			margin-bottom: 21px;
			height: 190px;
			background-color: rgba(0,142,214,0.0);
			border: 1px solid rgba(255,255,255,0.2);
			resize: none;
			outline: none;
		}
		textarea::placeholder{
			font-family: "SourceSemiBold";
			opacity: 0.2;
			font-size: 14px;
			letter-spacing: 0.025em;
			font-weight: 700;
			text-transform: uppercase;
			color: #ffffff;
		}
		.input-container {
			display: flex;
			flex-direction: column;
			margin-right: 19px;
		}
		.input-container:first-child {
			margin-top: 4px;
		}
		.text-container {
			display: flex;
		}
		.submit {
			align-self:flex-end;
			margin-right: 1px;
			border-radius: 2px;
		}
	}
}
footer {
	width: 100%;
	background-color: #15141a;
	z-index: -1;
	.container {
		display: flex;
		flex-direction: column;
		height: 160px;
		.social-links {
			margin: 0 auto;
			margin-top: 53px;
			display: flex;
			.social-links-item {
				margin: 0 16px;
				min-width: 18px;
				max-width: 19px;
				a {
					
					color: white;
					opacity: 0.2;
					transition-property: color;
					transition-duration: 0.5s;
				}
				a:hover {
					color: #008ed6;
					opacity: 1;
					transition-property: color;
					transition-duration: 0.5s;
				}
			}
		}
		p {
			font-size: 14px;
			line-height: 67px;
			font-weight: 600;
			text-transform: uppercase;
			color: #444348;
			margin: 0 auto;
			letter-spacing: 0.0165em;
		}
	}
}
.google-map {
	width: 100%;
	height: 370px;
}

.menu-link::after, .menu-link::before{
	visibility: hidden;
	position: absolute;
	content: '';
	bottom: 9px;
	width: 20px;
	height: 2px;
	background-color: #008ed6;
	margin: 0 1px;
}

.active::after, .active::before {
	visibility: visible;
}

.menu-link:hover::after, .menu-link:hover::before {
	visibility: visible;
}

.menu-link::after {
	left:50%;
}
.menu-link::before {
	right: 50%;
}
.main-menu-item {
	position: relative;
}

.regular-title-center::after, .regular-title-center::before{
	position: absolute;
	content: '';
	bottom: -39px;
	width: 20px;
	height: 2px;
	background-color: #008ed6;
	margin: 0 1px;
}

.regular-title-center::after {
	left:50%;
}
.regular-title-center::before {
	right: 50%;
}

.regular-title-left::after, .regular-title-left::before{
	position: absolute;
	content: '';
	bottom: -29px;
	width: 20px;
	height: 2px;
	background-color: #008ed6;
	margin: 0 1px;
}

.regular-title-left::after {
	right: calc(100% - 42px);
}
.regular-title-left::before {
	left: -2px;
	
}
#features {
	min-height: 529px;
	border-bottom: solid 1px #ededed;
	margin-bottom: 40px;
}
.home-image {
	margin-top: 31px;
	margin-left: -19px;
}

.home-text {
	margin-top: 53px;
}

.features-main-container {
	margin-top: 45px;
	.blue-subtitle {
		line-height: 50px;
		letter-spacing: 0.057em;
		font-size: 15px;
	}
	width: 1231px;
	.regular-title {
		font-size: 34px;
		letter-spacing: 0.042em;
	}
	.features-container {
		margin: 0 auto;
		margin-top: 111px;
		h4 {
			margin-top: 34px;
			font-size: 24px;
			line-height: 20px;
			font-weight: 400;
			color: #1a1a1a;
		}
		.p-text {
			margin-top: 15px;
			width: 250px;
		}
		
	}
}
.about {
	padding-top: 60px;
}
.about-upper {
	min-height: 667px;
	.right .row{
		margin-left: 0px;
		.regular-title {
			font-size: 34px;
			letter-spacing: 0.0395em;
		}
		.p-text {
			max-width: 470px;
			margin-top: 56px;
			letter-spacing: 0.001em;
			.pixel-perf {
				letter-spacing: 0.055em;
			}
		}
	}
	.about-image {
		margin-top: -34px;
		margin-left: -10px;
	}
	.about-details {
		margin-top: 25px;
		margin-left: 0;
		div {
			position: relative;
			top: 2px;
		}
	}
	.regular-title::after, .regular-title::before {
		bottom: -31px;
	}
}
.about-bottom {
	background-color: #f2f2f2;
	min-height: 543px;
	.blue-subtitle {
		line-height: 49px;
		font-size: 15px;
		letter-spacing: 0.065em;
	}
	.col-lg-5 {
		margin-top: 52px;
		margin-left: -15px;
	}
	.regular-title {
		font-size: 34.3px;
		letter-spacing: 0.038em;
	}
	.regular-title::after, .regular-title::before {
		bottom: -32px;
	}
	.p-text {
		margin-top: 56px;
		letter-spacing: 0.0016em;
	}
	.about-image {
		margin-top: -27px;
		margin-left: -19px;
	}
}
#pricing {
	min-height: 738px;
	.container {
		margin-top: 41px;
	}
	.blue-subtitle {
		font-size: 15px;
		letter-spacing: 0.061em;
	}
	.regular-title-center {
		font-size: 34px;
		letter-spacing: 0.037em;
	}
	.regular-title-center::after, .regular-title-center::before {
		bottom: -34px;
	}
}

.pricelist {
	margin-top: 104px;
	display: flex;
	justify-content: space-between;
	.col-sm-3 {
		margin-left:27px;
		.pricing-text {
			position: relative;
			left:3px;
		}
		.btn-order {
			position: relative;
			left:2px;
		}
		// padding: 0;
	}
	.col-sm-3:first-of-type {
		margin-left: -1px;
		.pricing-text {
			left:0;
		}
		.btn-order {
			left:0;
		};
	}
	
}
.fa-behance {
	font-size: 19px;
}
.fa-dribbble {
	font-size: 19px;
}
.fa-twitter {
	font-size: 18px;
}
.fa-facebook-f {
	font-size: 18px;
}
.fa-linkedin-in {
	font-size: 21px;
}
@media screen and (max-width:1250px) {
	.header-desktop {
		width: 80vw;
	}
	#home {
		.home-container {
			display: flex;
			justify-content: center;
		}
		.col-lg-7 {
			width: 500px;
			margin: 0 auto;
			.col-sm-3 {
				width: 170px;
			}
		}
		.col-lg-5 {
			display: none;
		}
		.buttons {
			display: flex;
			justify-content: center;
		}
	}
	
	.pricelist {
		flex-wrap: wrap;
	}
	.features-main-container {
		width: 800px;
		
		.blue-subtitle {
			line-height: 50px;
			letter-spacing: 0.057em;
			font-size: 15px;
		}
		.regular-title {
			font-size: 34px;
			letter-spacing: 0.042em;
		}
		.features-container {
			width: 800px;
			margin: 0 auto;
			margin-top: 111px;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			h4 {
				margin-top: 34px;
				font-size: 24px;
				line-height: 20px;
				font-weight: 400;
				color: #1a1a1a;
			}
			.col-sm-3 {
				margin: 30px;
				width: 250px;
			}
			.p-text {
				// margin-top: 15px;
				// width: 90%;
			}
			
		}
	}
	#about {
		.col-lg-6 {
			margin: 0 auto;
			margin-bottom: 50px;
			width: 450px;
			.about-image {
				margin: 0;
			}

		}
		.about-left {
			text-align: center;
			margin-bottom: 0;
		}
		.about-bottom {
			.col-lg-5 {
				width: 500px;
				margin-top: 0;
			}
			.col-lg-6 {
				width: 100%;
				text-align: center;
			}
		}
	}
	.about-upper .container, .about-bottom .container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.container-testimonals {
		.slider-container {
			width: 550px;
		}
		h3 {
			width: 700px;
		}
		.testimonals-links {
			.testimonals-links-container {
				.col-sm-8 {
					width: 700px;
				}
				.col-sm-2 {
					margin: 10px;
				}
				display: flex;
				width: 700px;
				flex-wrap: wrap;
				justify-content: center;
			}
		}
		
	}
	.pricelist {
		width: 700px;
		margin: 0 auto;
		justify-content: center;
		margin-top: 50px;
		padding-bottom: 40px;
		.col-sm-3, .col-sm-3:first-of-type {
			padding: 0;
			width: 272px;
			margin: 20px;
		}
		.pricing-item {
			margin: 0;
		}

	}
	#contact {
		.contact-data {
			width: 800px;
		}
	}
}